footer.footer
  .container
    .footer__left
      .footer__nav
        nav.nav.nav_footer(ng-controller="NavCtrl")
          ul.nav__list
            li.nav__item(ng-repeat="nav in navigation")
              a.nav__link(href="{{nav.url}}" ng-click="changePage(nav.url)")
                span(ng-bind="nav.title")
            li.nav__item
              a.nav__link(href="#/application" ng-click="changePage('/application')")
                span Онлайн-заявка
      .footer__copyright
        .copyright © ГУП КК «Крайтехинвентаризация — Краевое БТИ»
    .footer__robots
      a(href="#")
        img(src="img/rr.png")

script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDR3Z0-DJseeZxGVJDCx4PEWtlPbTppd3w")
script(src="js/main.js")