header.header(ng-controller="NavCtrl")
  .header__row.header__row_black
    .container
      .header__item.header__item-sign
        a.header__link(href="#") Вход для сотрудников
      .header__item.header__item-contacts
        .location
          a.header__link Краснодар
        .phone
          a.header__link(href="tel: 88612265034") 8 861 226-50-34
  .header__row.header__row_main
    .container
      .header__item.header__item-logo
        a.logo(href="#/" ng-click="changePage('/')") <span>Краевое</span><b>БТИ</b>
      .header__item.header__item-nav
        nav.nav
          ul.nav__list
            li.nav__item(ng-repeat="nav in navigation")
              a.nav__link(href="{{nav.url}}" ng-click="main.changePage(nav.url)")
                span(ng-bind="nav.title")
            li.nav__item
              a.btn.btn_order(href="#/application" ng-click="changePage('/application')")
                span Онлайн-заявка