head
	base(href="/")
	title БТИ
	meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
	meta(http-equiv="X-UA-Compatible" content="IE=Edge")
	meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
	link(rel="stylesheet" href="css/app.css")
	//script(src="https://api-maps.yandex.ru/2.1/?lang=RU" type="text/javascript")
	script(src="bower_components/jquery/dist/jquery.min.js")
	script(src="bower_components/angular/angular.min.js")
	script(src="bower_components/angular-sanitize/angular-sanitize.min.js")
	script(src="bower_components/angular-route/angular-route.min.js")
	script(src="app.js")