.modal(data-type="1")
	.modal__inner
		button.md-close Закрыть
		.modal__header
			.title.title_h1 Документы
			.subttl 
				b ЖК «Горгипия» 
				span Литер 10 
				span • 
				span Сдача 2017 
		.modal__content
			.docs
				ul.docs__list
					li.docs__item
							.docs__item-icon
								i.icon.icon-doc
							.docs__item-info
								.docs__item-meta
									span 24 мб • 
									span 22.02.2106, 16:03 • 
									span ответственный: Иван Иванов • 
									span история изменений
								a(href="#" target="_blank").docs__item-name Проектная декларация
					li.docs__item
							.docs__item-icon
								i.icon.icon-doc
							.docs__item-info
								.docs__item-meta
									span 24 мб • 
									span 22.02.2106, 16:03 • 
									span ответственный: Иван Иванов • 
									span история изменений
								a(href="#" target="_blank").docs__item-name Кадастровый паспорт
					li.docs__item
							.docs__item-icon
								i.icon.icon-doc
							.docs__item-info
								.docs__item-meta
									span 24 мб • 
									span 22.02.2106, 16:03 • 
									span ответственный: Иван Иванов • 
									span история изменений
								a(href="#" target="_blank").docs__item-name Договор аренды

.modal(data-type="2")
	.modal__inner
		button.md-close Закрыть
		.modal__header
			.title.title_h1 Фотоотчёты
			.subttl 
				b ЖК «Горгипия» 
				span Литер 10 
				span • 
				span Сдача 2017 
		.modal__content
			.photobox
				.photobox__list.row
					.photobox__item.col.col-25
						.inner
							a(href="img/cross.png" data-fancybox-group="0")
								img(src="img/cross.png")
							a(href="img/cross.png" data-fancybox-group="0")
								img(src="img/cross.png")
								.photobox__item-caption Январь 2016
