.btn
	position: relative
	display: inline-block
	background-color: $c1
	border: none
	border-radius: 22px
	color: #ffffff
	cursor: pointer
	font-size: 1em
	font-family: $ff
	font-weight: bold
	height: 44px
	letter-spacing: .05em
	padding: 0 26px
	outline: none
	text-decoration: none
	-webkit-transition: all .25s
	-moz-transition: all .25s
	transition: all .25s
	&:before
		position: absolute
		z-index: 1
	& span
		position: relative
		z-index: 2
	&_order
		line-height: 44px
		&:hover
			color: #ffffff
	&_back
		background-color: #f7f9fa
		color: #000000
		&:hover
			color: #ffffff
	&:hover
		background-color: #36b898

.form__btn
	position: relative
	line-height: 22px
	font-family: $ff
	position: relative
	cursor: pointer
	text-align: center
	border: none
	outline: 0
	background: #f9c400
	background: -webkit-linear-gradient(top,#ffe025,#f9c400 92%,#be8c05)
	background: -o-linear-gradient(top,#ffe025,#f9c400 92%,#be8c05)
	background: linear-gradient(to bottom,#ffe025,#f9c400 92%,#be8c05)
	text-shadow: 0 1px 0 rgba(255,255,255,.36)
	color: #473e09
	-webkit-user-select: none
	-moz-user-select: none
	-ms-user-select: none
	user-select: none
	box-shadow: 0 0 1px 0 #fff
	font-size: 24px
	padding: 13px 27px
	border-radius: 4px
	&:before
		content: ""
		position: absolute
		top: 1px
		right: 1px
		bottom: 1px
		left: 1px
		background: -webkit-linear-gradient(top,#ffe34a,#ffdb03)
		background: -o-linear-gradient(top,#ffe34a,#ffdb03)
		background: linear-gradient(to bottom,#ffe34a,#ffdb03)
		box-shadow: inset 0 -1px 0 0 rgba(102,52,0,.2), inset 0 0 3px 0 rgba(254,255,187,.5)
		border-radius: inherit
	&:hover:before
			background: -webkit-linear-gradient(top,#ffe86a,#ffe130)
			background: -o-linear-gradient(top,#ffe86a,#ffe130)
			background: linear-gradient(to bottom,#ffe86a,#ffe130)
	&:active
		background: #ffe652
		background: -webkit-linear-gradient(top,#c69007,#f8c106 8%,#dec35e)
		background: -o-linear-gradient(top,#c69007,#f8c106 8%,#dec35e)
		background: linear-gradient(to bottom,#c69007,#f8c106 8%,#dec35e)
	&:active:before
		background: -webkit-linear-gradient(top,#ffe349,#ffdb01)
		background: -o-linear-gradient(top,#ffe349,#ffdb01)
		background: linear-gradient(to bottom,#ffe349,#ffdb01)
		box-shadow: inset 0 2px 4px 0 rgba(102,52,0,.2)
	& span
		position: relative
		display: block
	&:active span
		top: 3px
