.footer
  position: relative
  background-color: #1f8a70
  color: #ffffff
  font-weight: 300
  margin-top: 98px
  padding: 65px 0 33px
  z-index: 10
  &::before
    content: ''
    position: absolute
    top: -62px
    left: 0
    width: 100%
    height: 68px
    background: url('../img/pattern.png') 0 0 repeat scroll
  &__inner
    display: table
    width: 100%
  &__left
    float: left
  &__nav
    margin-bottom: 20px
  &__copyright
    font-size: .875em
    font-weight: bold
  &__robots
    float: right
    text-align: right
  @media(max-width: 767px)
    padding: 0 0 33px