.form
  position: relative
  width: 100%
  &__title
    color: #000000
    font-size: 1.875em
    font-weight: bold
    margin-bottom: 5px
  &__row
    padding: 10px
  &__item
    position: relative
    display: inline-block
    vertical-align: middle
    border: 1px solid #e7e7e7
    margin: 10px 0
    padding: 5px 18px
    width: 100%
    // &::before
    //   content: ''
    //   position: absolute
    //   background-color: #e6e6e6
    //   border-radius: 4px
    //   width: 100%
    //   height: 100%
    // &--focus
    //   .form__label
    //     top: 12px
    //     font-size: 12px
    &_btn
      border: 0
      padding: 5px 0
  &__label
    display: inline-block
    vertical-align: middle
    color: #000000
    font-size: .85em
    font-weight: bold
    text-transform: uppercase
    -webkit-transition: all 0.3s
    -moz-transition: all 0.3s
    transition: all 0.3s
  &__input
    position: relative
    background-color: #ffffff
    border: 0
    color: #b9b8b8
    font-size: .85em
    font-weight: bold
    letter-spacing: 0.05em
    text-transform: uppercase
    padding: 15px 5px 15px 0
    outline: none
    max-width: 250px
    width: 100%
    z-index: 2
    -webkit-transition: all 0.3s
    -moz-transition: all 0.3s
    transition: all 0.3s
    &_datepicker
      max-width: 150px
    &:focus
      color: #252525
  &__select
    border: 0
    color: #b9b8b8
    font-size: .85em
    font-weight: bold
    padding: 15px 5px 15px 0
    text-transform: uppercase
    outline: none
    -webkit-transition: all 0.3s
    -moz-transition: all 0.3s
    transition: all 0.3s
    &:focus
      color: #252525

.form__btn-next
  text-align: right


.steps
  position: relative
  &::before
    content: ''
    position: absolute
    top: 15px
    left: 7px
    display: block
    background-color: #e5e5e5
    width: 1px
    height: 85%
    z-index: 1
  &__list
    position: relative
    z-index: 10
  &__item
    list-style: none
    font-size: 15px
    margin-bottom: 30px
    &:first-child
      margin-top: 0
    &:last-child
      margin-bottom: 0
  &__link
    color: #000000
    display: block
    padding: 10px 0
    &::before
      content: ''
      display: inline-block
      vertical-align: middle
      background-color: #ffffff
      border-radius: 50%
      border: 2px solid #e5e5e5
      margin-right: 8px
      width: 14px
      height: 14px
    & span
      display: inline-block
      vertical-align: middle
    &._current
      &::before
        border-color: $c1
    &._ok
      &::before
        background-color: #e5e5e5
        border-color: #e5e5e5
