.row
	margin: 0 -10px

.col
	position: relative
	float: left
	padding: 0 10px
	width: 100%
	&_right
		float: right
.col-90
	width: 90%
.col-80
	width: 80%
.col-75
	width: 75%
.col-66
	width: 66.66%
.col-50
	width: 50%
.col-33
	width: 33.33%
.col-25
	width: 25%
.col-20
	width: 20%
.col-16
	width: 16.6%
.col-10
	width: 10%

.container:before, .container:after,
.clr:before, .clr:after,
.row:before, .row:after
	content: ""
	clear: both
	display: block
	line-height: 0
