.header
  position: relative
  display: block
  top: 0
  left: 0
  background-color: #ffffff
  width: 100%
  z-index: 100
  &_main
    position: absolute
    background-color: transparent
  &__row
    position: relative
    width: 100%
    & .container
      width: 100%
      display: table
    &_black
      background-color: #000000
      font-size: .875em
    &_main
      padding: 24px 0 18px
  &__item
    display: table-cell
    vertical-align: middle
    &-contacts, &-nav
      text-align: right
      & .location, & .phone
        display: inline-block
        vertical-align: middle
      & .phone
        font-weight: bold
        margin-left: 10px
  &__link
    display: inline-block
    color: #b3b3b3
    padding: 15px 0


  &__logo
    display: inline-block
    vertical-align: middle
    & .logo
      display: block
      width: 124px
      img
        display: block
    a
      border: none
  &__btn
    float: right
  &__nav
    display: block
    & .nav
      float: left
  &__contacts
    border-bottom: 1px solid #dadfe6
    margin-bottom: 12px
    padding-bottom: 17px
    & .adress
      color: #c0c0c0
      float: left
    & .phone
      float: right
      text-align: right
      &__link
        color: #1a2b33
        font-size: 1.25em
        font-weight: bold
        &:hover
          color: #007fc3
      &__txt
        color: #c0c0c0


@media(max-width: 767px)
  .header
    display: none


.logo
	color: $c1
	font-family: $ff2
	text-transform: uppercase
	span, b
		display: block
		padding: 0
		line-height: 1
	span
		font-size: 1.25em
	b
		font-size: 3em
		font-weight: normal

.header_main .logo
  color: #ffffff
