.main
	position: relative
	padding-top: 80px
	width: 100%
	z-index: 10

.section
	position: relative
	width: 100%
	&_map
		padding: 95px 0 110px
		min-height: 690px
		& .content
		  padding-top: 50px
	&_slider
		background: center center no-repeat #fcfcfc
		background-size: cover
		height: 100vh
		max-height: 800px
		& .container
			height: 100%
	&_slider &__inner
		position: absolute
		top: 0
		left: 50%
		margin-left: -500px
		display: table
		height: 100%
		width: 1000px
		z-index: 100
		&-col
			display: table-cell
			vertical-align: middle
	&__title_news
		border-bottom: 4px solid #1f8a70
		padding-bottom: 10px
	&__title
		border-bottom: 4px solid #1f8a70
		margin-bottom: 30px
		padding-bottom: 10px
		& .title
			display: inline-block
			vertical-align: middle
			font-family: $ff2
		& .switcher
			margin-top: 15px
			float: right
	&__content
		position: relative
	&-services
		margin-bottom: 280px
	&_services
		z-index: 10
	&_services &__title, &_news &__title
		border-bottom: 4px solid $c3
		padding-bottom: 10px
	&_services &__title
		& .switcher
			margin-top: 0
	&_contacts
		height: 760px
		& .container, & .row
			position: relative
			height: 100%
		& .section__content
			padding: 130px 10px 150px 80px
			height: 100%
	&_contacts &__title
		margin-bottom: 60px


.flex
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: flex
	-webkit-flex-wrap: wrap
	-moz-flex-wrap: wrap
	-ms-flex-wrap: wrap
	flex-wrap: wrap
	&_center
		align-items: center
		justify-content: center
	&_base
		align-items: baseline



.number
	padding: 0 20px
	&__value
		color: $c1
		font-family: $ff2
		font-size: 3.25em
		line-height: 1
	&__label
		color: #004358
		font-size: .75em
		font-weight: bold
		letter-spacing: 0.1em
		text-transform: uppercase
	&__content
		border-top: 1px solid #e3eeea
		font-size: .92em
		margin-top: 20px
		padding-top: 20px
	&_big
		background-color: #f7f9fa
		margin: 20px 0
		padding: 10px 20px 20px
	&_big &__value
		font-size: 7.5em




.features
	position: relative
	width: 100%
	&__item
		display: inline-block
		vertical-align: top
		margin-bottom: 50px
		padding: 0 20px
		&-title
			display: block
			margin-bottom: 10px
			& .icon
				vertical-align: middle
			& .title
				display: inline-block
				vertical-align: middle
				line-height: 1
				margin-left: 10px
				max-width: 330px


.switcher
	position: relative
	&__item
		display: none
		&._active
			display: block
	&__link
		display: inline-block
		vertical-align: middle
		color: $c1
		font-size: .875em
		font-weight: bold
		letter-spacing: 0.01em
		padding: 10px 0
		margin-left: 15px
		text-transform: uppercase
		-webkit-transition: all .15s
		transition: all .15s
		&._active
			color: $c_main
	&_slider &__ctrl
		display: block
		border: 1px solid #ffffff
		border-right: 0
		color: #ffffff
		float: left
		font-family: $ff2
		font-size: 1.875em
		padding: 24px 26px
		width: 33.33%
		height: 116px
		&:hover
			background-color: rgba(255,255,255,.85)
			color: $c1
		&._active
			background-color: #ffffff
			color: $c1
		&:last-child
			border-right: 1px solid #ffffff
	@media(max-width: 767px)
		&_slider &__ctrl
			background-color: #363839
			border: 0
			border-radius: 50%
			width: 6px
			height: 6px
			margin-right: 18px
			padding: 0
			&._active
				box-shadow: 0 0 0 5px #1f8a70
			&:last-child
				border: 0
	&_notice &__ctrl
		display: inline-block
		border: 1px solid #e7e7e7
		border-right: 0
		font-size: .75em
		font-weight: bold
		letter-spacing: 0.05em
		line-height: 66px
		padding: 0 38px
		color: #000000
		float: left
		height: 66px
		text-transform: uppercase
		&:hover
			background-color: #a5d8c7
			border-color: #a5d8c7
			color: #252525
		&._active
			background-color: $c1
			border-color: $c1
			color: #ffffff
		&:last-child
			border-right: 1px solid #e7e7e7

.link-back
		display: inline-block
		border: 1px solid #e7e7e7
		font-size: .75em
		font-weight: bold
		letter-spacing: 0.05em
		line-height: 66px
		padding: 0 38px
		color: #000000
		height: 66px
		text-transform: uppercase

.contacts-info
	&__item
		color: #707070
		font-size: 1em
		line-height: 1.5
		margin-bottom: 36px
		& .label
			color: $c1
			display: block
			font-size: 1.25em
			font-weight: bold


.map
	position: relative
	width: 100%
	height: 100%
	&-content
		padding-right: 0
	&-wrapper
		background-color: #f7f9fa
		height: 500px
		z-index: 1
	&__item
		width: 100%
		height: 100%


.news
	position: relative
	&__item
		position: relative
		border-bottom: 1px solid #ededed
		margin-bottom: 25px
		padding-bottom: 25px
		& .date
			color: $c1
			font-size: .75em
			font-weight: bold
			letter-spacing: 0.05em
			text-transform: uppercase
		& .title
			font-size: 1.25em
			font-weight: bold
			padding: 12px 0
		.content
			color: #a6a6a6
			font-size: .92em
		&_main
			border-bottom: 0
		&_main .title
			font-size: 1.85em
	&_main &__item
		position: relative
		height: 164px
	@media(max-width: 767px)
		&_main &__item
			height: auto
	&__link
		color: $c_main
	&_main &__item
		padding: 20px 15px
	&__arhive
		font-size: .75em
		font-weight: bold
		text-align: right
		text-transform: uppercase
	&__list_main &__item:last-child
		border-bottom: 0

.arhive
	border-top: 1px solid #ededed
	padding: 35px 0
	&__list
		.news__item
			border-bottom: 1px solid #ededed
			height: auto
			margin-bottom: 25px
			padding-bottom: 25px
			.title
				font-size: 1em
				padding: 12px 0
			.content
				color: #a6a6a6
				font-size: .87em
	&__sidebar .sidebar
		background-color: #f6f6f6
		padding: 0 15px
	&__sidebar .sidebar__item
		border-bottom: 1px solid #e7e7e7
		font-size: .85em
		font-weight: bold
		letter-spacing: 0.05em
		margin: 0
		padding: 20px 15px
		text-transform: uppercase
		&:last-child
			border-bottom: 0
	&__sidebar .sidebar__link
		color: #000000
		&:hover
			color: $c1


.person
	background-color: #f7f9fa
	margin: 80px 0
	padding: 20px 0 30px
	.words
		font-size: 22px
		padding: 40px 0 60px
	.text
		z-index: 10
		.title_h3
			font-size: 30px
			font-family: $ff2
			color: #000000
		.caption
			color: $c1
			font-size: .75em
			font-weight: bold
			letter-spacing: 0.05em
			text-transform: uppercase
	.pic
		height: 100%
	.picture
		position: absolute
		right: 0
		top: -63px
		height: 100%
		width: 550px
		& img
			display: block
			height: auto
			max-width: 100%

.gup
	color: $c1


.docs
	border-top: 1px solid #e3e3e3
	&__item
		position: relative
		display: block
		list-style: none
		padding: 20px 0
		border-bottom: 1px solid #e3e3e3
		&-icon
			display: inline-block
			vertical-align: middle
		&-info
			display: inline-block
			vertical-align: middle
			padding-left: 8px
		&-meta
			color: #999999
		&-name
			color: #000000
			font-weight: bold

.photobox
	position: relative
	width: 100%
	&__item
		position: relative
		float: left
		display: inline-block
		vertical-align: top
		height: 180px
		& .inner
			position: relative
			width: 100%
			height: 100%
		&-caption
			position: absolute
			bottom: 0
			left: 0
			width: 100%
			font-size: .875em
			font-weight: bold
			color: #ffffff
			padding: 10px 12px
			background: -moz-linear-gradient(bottom, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 100%)
			background: -webkit-linear-gradient(bottom, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0) 100%)
			background: linear-gradient(to top, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0) 100%)
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 )
			border-radius: 0 0 2px 2px
			z-index: 10
		& a
			position: absolute
			display: block
			width: 100%
			height: 100%
			z-index: 10
			opacity: 0
			&:last-child
				opacity: 1
		& img
			border-radius: 2px
			height: 100%


.breadcrumbs
	&__list
		margin: 0
		padding: 0
	&__item
		display: inline-block
		vertical-align: middle
		color: $c1
		font-size: .75em
		font-weight: bold
		letter-spacing: 0.1em
		text-transform: uppercase
		&:last-child
			margin-right: 0
	&__item + &__item:before
		content: '/'
		display: inline-block
		vertical-align: middle
		margin-right: 4px
	&__link
		display: inline-block
		vertical-align: middle


.contacts
	&__select
		border: 1px solid #e7e7e7
		padding: 0 15px
		select
			width: 100%
	&__item
		color: #a6a6a6
		padding: 5px 15px
		margin: 10px 0
		font-size: 0.92em
		&-label
			color: #000000
			font-weight: bold
			text-transform: uppercase

.faq
	&__list
		display: block
	&__link
		color: #000000
	&__item
		position: relative
		border: 1px solid #e6e6e6
		margin-top: -1px
		&:first-child
			margin-top: 0
		&-ttl
			font-size: .92em
			padding: 15px 20px
		&-content
			background-color: #e6e6e6
			font-size: .87em
			line-height: 1.5
			padding: 10px 20px 15px