.overlay
	position: fixed
	top: 0
	left: 0
	background-color: rgba(0,0,0,.55)
	width: 100%
	height: 100%
	opacity: 0
	z-index: 0
	-webkit-transition: all .3s
  transition: all .3s
	&._show
		opacity: 1
		z-index: 1000

.modal
	position: fixed
	top: 0
	left: 0
	width: 100%
	height: 100%
	background-color: rgba(0,0,0,.55)
	opacity: 0
	padding: 20px
	z-index: 0
	-webkit-transition: all .3s
	transition: all .3s
	&._show
		opacity: 1
		z-index: 1001
	&__inner
		position: relative
		background-color: #ffffff
		border-radius: 4px
		margin: 0 auto
		padding: 0 60px 50px
		width: 100%
		max-width: 1160px
	&__header
		position: relative
		padding: 40px 0 50px
		.title
			font-family: "Exo 2", Tahoma, sans-serif
			margin-bottom: 15px

.md-close
  position: absolute
  top: 17px
  right: 17px
  width: 33px
  height: 34px
  background: url('../img/cross.png') 0 0 no-repeat #ffffff
  border: 0
  text-indent: 9999px
  outline: none
  cursor: pointer