.nav
	display: inline-block
	vertical-align: middle
	&__list
		margin: 0
		padding: 0
	&__item
		position: relative
		display: inline-block
		vertical-align: middle
		font-size: 1em
		font-weight: bold
		margin-right: 42px
		&:last-child
		  margin-right: 0
	&__link
		border: 0
		color: #252525
		& span
			position: relative
			display: inline-block
			vertical-align: middle
	&_footer
		.nav__item
			font-size: .875em
			font-weight: 400
			margin: 0 12px
			&:first-child
		  	margin-left: 0
		.nav__link
			color: #a5d8c7
			&:hover
				color: #ffffff
		@media(max-width: 767px)
			display: none


.header_main .nav__link
	color: #ffffff


.nav-mobile
	display: none
	position: fixed
	width: 100%
	height: 48px
	z-index: 100
	background-color: #166f59
	-webkit-transition: height .3s
	transition: height .3s
	overflow: hidden
	&.open
		height: 100%

	.nav
		display: block
		background-color: #166f59
		&__bottom
			position: absolute
			bottom: 0
			left: 0
			width: 100%
			background-color: #000000
			padding: 0 15px
			z-index: 1
			.item
				float: left
				width: 50%
				padding: 15px 0
				text-align: right
				&-phone
					font-size: 1.15em
					font-weight: bold
			a
				color: #b3b3b3
		&__inner
			position: relative
			width: 100%
			height: 100%
		&__item
			display: block
			font-size: 1.25em
			padding: 0 15px
			width: 100%
		&__link
			display: block
			border-bottom: 1px solid #126550
			color: #ffffff
			padding: 12px 0
		&__header
			position: relative
			background-color: #1f8a70
			padding: 12px 15px
			width: 100%
			z-index: 10
			.logo
				color: #ffffff
				font-family: $ff2
				font-size: 1.25em
		&__login
			display: block
			border-top: 1px solid #343635
			font-size: .875em
			padding: 20px 0
			& span 
				display: inline-block
				vertical-align: middle
				margin-left: 7px
			&::before
				content: ''
				display: inline-block
				vertical-align: middle
				background: url('../img/lock.png') 0 0 no-repeat
				width: 9px
				height: 11px
@media(max-width: 767px)
	.select-xs
		background-color: transparent
		border: 0
		color: #b3b3b3
		font-size: .875em
	.nav-mobile
		display: block	



.burger
	float: right
	position: relative
	background-color: transparent
	border: none
	width: 28px
	height: 18px
	padding: 0
	outline: none
	display: inline-block
	vertical-align: middle
	cursor: pointer
	-webkit-transition: -webkit-transform 0.25s
	transition: transform 0.25s

.burger::before, .burger::after, .burger__line
	background-color: #ffffff

.burger::before,.burger::after
	content: ''
	position: absolute
	height: 3px
	width: 100%
	left: 0
	top: 50%
	-webkit-transform-origin: 50% 50%
	transform-origin: 50% 50%
	-webkit-transition: -webkit-transform 0.25s
	transition: transform 0.25s

.burger__line
	position: absolute
	width: 100%
	height: 3px
	top: 9px
	left: 0
	overflow: hidden
	text-indent: 200%
	-webkit-transition: opacity 0.25s
	transition: opacity 0.25s

.burger::before
	-webkit-transform: translate3d(0, -7px, 0)
	transform: translate3d(0, -7px, 0)

.burger::after
	-webkit-transform: translate3d(0, 7px, 0)
	transform: translate3d(0, 7px, 0)

.burger:hover::before
	-webkit-transform: translate3d(0, -9px, 0)
	transform: translate3d(0, -9px, 0)

.burger:hover::after
	-webkit-transform: translate3d(0, 9px, 0)
	transform: translate3d(0, 9px, 0)

.burger_active .burger__line
	opacity: 0

.burger_active::before, .burger_active:hover::before
	-webkit-transform: rotate3d(0, 0, 1, 45deg)
	transform: rotate3d(0, 0, 1, 45deg)

.burger_active::after, .burger_active:hover::after
  -webkit-transform: rotate3d(0, 0, 1, -45deg)
  transform: rotate3d(0, 0, 1, -45deg)