.services
	position: relative
	& .row
		margin-left: -10px
		margin-right: -10px
	& .col
		padding: 10px
	&__wrap
		position: relative
		width: 100%
	&__item
		position: relative
		font-size: 1.15em
		height: 208px
		width: 100%
		&-inner
			position: absolute
			background-color: #f7f9fa
			padding: 30px
			height: 100%
			width: 100%
			-webkit-transition: background-color .5s ease-in-out, height .25s
			transition: background-color .5s ease-in-out, height .25s
		&-description
			font-size: .78em
			height: 1px
			margin-top: 60px
			opacity: 0
			overflow: hidden
			-webkit-transition: opacity .25s, height .25s, margin .35s
			transition: opacity .25s, height .25s margin .35s
		&:hover &-description
			height: auto
			margin-top: 35px
			opacity: .75
		&:hover a
				color: #ffffff
		&:hover &-inner
			background-color: $c3
			height: 436px
			z-index: 10
		& .link
			display: inline-block
			margin-top: 20px
			font-size: .65em
			font-weight: 400
			text-transform: uppercase
			color: #ffffff
		&-svg
			position: relative
			height: 66px
			margin-bottom: 40px
		& svg, & img
			display: inline-block
			width: auto
			height: 66px
		& img
			position: absolute
			top: 0
			left: 0
			-webkit-transition: .5s ease
			transition: .5s ease
		& img.first
			opacity: 1
		& img.hover
			opacity: 0
		&:hover img.first
			opacity: 0
		&:hover img.hover
			opacity: 1
	&__link
		color: $c_main
		font-weight: bold

	&_life
		.services__item
			background-color: $c_main
			height: 216px
			padding: 0
			&-name
				position: absolute
				left: 28px
				bottom: 28px
		.services__link
			display: block
			position: relative
			height: 100%
			color: #ffffff

.service-detail
	position: relative
	&__content
		float: left
		width: 710px
		padding-right: 25px
		& .content
			margin-bottom: 25px
			& ul
				padding-left: 17px
			& li
				line-height: 1.7
				padding: 5px 0
	&__sidebar
		float: right
		padding-left: 25px
		width: 400px
		.sidebar__item
			font-size: .85em

.documents
	& .title
		font-size: 1.875em
		font-weight: bold
		margin-bottom: 20px
	&__list
		padding: 0
	&__item
		display: block
		padding: 18px 0
		font-size: .92em
		border-bottom: 1px solid #e5e5e5
	&__link
		color: #000000
		& .fa
			font-size: 1.25em
			vertical-align: middle
			color: $c1
		& span
			display: inline-block
			vertical-align: middle
			margin-left: 8px

.sidebar
	&__item
		position: relative
		margin-bottom: 30px
		& .label
			display: block
			font-size: 1em
			font-weight: bold
			letter-spacing: 0.05em
			margin-bottom: 5px
			text-transform: uppercase
		& > span
			color: #a6a6a6


.notice
	&__sidebar .sidebar
		background-color: #f6f6f6
		padding: 0 15px
	&__sidebar .sidebar__item
		border-bottom: 1px solid #e7e7e7
		font-size: .85em
		font-weight: bold
		letter-spacing: 0.05em
		margin: 0
		padding: 20px 15px
		text-transform: uppercase
		&:last-child
			border-bottom: 0
	&__sidebar .sidebar__link
		color: #000000
		&:hover
			color: $c1
	&__content
		margin-top: 60px
	&__item
		position: relative
		list-style: none
		margin-bottom: 15px
		padding-bottom: 15px
		border-bottom: 1px solid #e5e5e5
		&:last-child
			margin-bottom: 0
		&-status
			color: #a6a6a6
			font-size: .875em
			text-transform: uppercase
			margin-bottom: 5px
			& span
				font-weight: normal
		&-title
			font-size: 1em
			font-weight: bold
			color: #000000
	&-detail
		.content
			border-bottom: 1px solid #e5e5e5
			font-size: .92em
			margin: 30px 0
			padding-bottom: 30px
		&__status
			color: #a6a6a6
			margin-bottom: 10px
			text-transform: uppercase
		&__title
			border-bottom: 1px solid #e5e5e5
			font-size: 1.875em
			font-weight: bold
			margin-bottom: 20px
			padding-bottom: 15px
		&__info
			.return
				font-weight: bold
				margin-bottom: 15px
		&__history
			margin-top: 15px
			ul
				display: block
				margin-bottom: 10px
			li
				list-style: none
				padding: 8px 0
				.date
					color: #a6a6a6
				.status
					color: #000000
					font-weight: bold
					text-transform: uppercase
		.documents .title
			font-size: 1.15em
			margin-bottom: 5px



