$c1: #1f8a70 // зеленый
$c2: #36b898 // светлее
$c3: #1f8a70 // темно-зеленый
$c_main: #252525 // основной цвет

$ff: "Arial", Helvetica, sans-serif
$ff2: "Russo One", Verdana, sans-serif


*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	margin: 0
	padding: 0

html
	height: 100%

body
	background: #ffffff
	color: $c_main
	font: 400 100%/1.2 $ff
	height: 100%

a
	color: $c1
	cursor: pointer
	text-decoration: none
	-webkit-transition: all .25s
	-moz-transition: all .25s
	transition: all .25s

a:hover
	color: #36b898

img
	max-width: 100%
	height: auto

p
	font-size: 1em
	font-weight: 300
	line-height: 1.5
	margin-bottom: 0.85em
	&:last-child
		margin-bottom: 0

._center
	text-align: center !important

.layout
	position: relative
	width: 100%
	min-height: 100%
	z-index: 100

.container
	position: relative
	margin: 0 auto
	padding: 0 20px
	width: 100%
	max-width: 1200px

.loadmore
	text-align: center


.icon
	display: inline-block
	vertical-align: top
	&-doc
		// background: url('../img/ico-doc.png') 0 0 no-repeat
		vertical-align: middle
		width: 28px
		height: 37px
