.b-slider
	position: relative
	width: 100%
	height: 100%
	&__content
		position: relative
		display: table
		width: 100%
		height: 100%
		z-index: 1
	&__item
		display: none
		vertical-align: middle
		width: 100%
		height: 100%
		opacity: 0
		z-index: 1
		& .title
			color: #f0f3f7
			font-family: $ff2
			font-size: 4.25em
		& .content
			display: inline-block
			color: #ffffff
			max-width: 450px
			& > div
				font-size: 1.15em
				line-height: 1.5
				padding: 8px 0 18px
		& .link
			position: relative
			display: inline-block
			vertical-align: middle
			color: #ffffff
			font-size: .75em
			line-height: 0.01em
			text-transform: uppercase
		& .link::after
			content: ''
			position: absolute
			bottom: -10px
			left: 0
			width: 100%
			height: 2px
			background-color: $c2
			-webkit-transition: background-color .3s
			transition: background-color .3s
		& .link:hover::after
			background-color: $c1
		& .link_more
			margin-left: 20px

		&._active
			display: table-cell
			opacity: 1
			z-index: 2
	@media(max-width: 767px)
		& .title
			font-size: 2em
		& .content
			& > div
				font-size: .875em
				line-height: 1.5
				padding: 8px 0 10px

	&__switcher
		position: absolute
		bottom: -1px
		left: 0
		width: 100%
		z-index: 2
	@media(max-width: 767px)
		&__switcher
			bottom: 24px

	@media(max-width: 767px)
		& .switcher__ctrl
			span
				display: none











.slider
	position: relative
	display: block
	height: 100%
	width: 100%
	overflow: hidden
	& .slick-arrow
		width: 25px
		height: 82px
		opacity: .75
		-webkit-transition: opacity .3s
		transition: opacity .3s
		&:hover
			opacity: 1
		&::before
			content: ""
		z-index: 10
	& .slick-prev
		background: url('../img/arr-left.png') center no-repeat
		left: 70px
	& .slick-next
		background: url('../img/arr-right.png') center no-repeat
		right: 70px
	&__list
		position: relative
		height: 100%
	&__item
		background: center no-repeat
		background-size: cover
		display: table
		width: 100%
		height: 100%
		outline: none
		& .container
			display: table-cell
			vertical-align: middle
			text-align: center
			padding: 0
			width: 100%
	&__cover
		position: absolute
		top: 0
		left: 0
		background: center no-repeat
		background-size: cover
		width: 100%
		height: 100%
		z-index: 1
	&__content
		position: relative
		margin-top: 66px
		text-align: center
		z-index: 2
	&__pic
		position: relative
		max-width: 630px
		display: inline-block
		z-index: 2
		&.video
			&::before
				content: ''
				position: absolute
				top: 50%
				left: 50%
				margin-top: -47px
				margin-left: -47px
				width: 94px
				height: 94px
				background: url('../img/ico-play.png') center no-repeat transparent
				border: 1px solid #ffffff
				border-radius: 50%
				z-index: 10
		& img
			display: block
			box-shadow: 0 20px 40px rgba(0,0,0,.3)
			border-radius: 6px
	&__arrow
		position: absolute
		top: 50%
		background: center no-repeat transparent
		border: 1px solid rgba(255,255,255,.35)
		border-radius: 50%
		cursor: pointer
		margin-top: -60px
		height: 42px
		width: 42px
		opacity: .5
		outline: none
		z-index: 10
		-webkit-transition: all .5s
		-moz-transition: all .5s
		transition: all .5s
		&:hover
			border-color: rgba(255,255,255,.55)
			opacity: 1
		&_prev
			left: 79px
			background-image: url('../img/arr-l.png')
		&_next
			right: 79px
			background-image: url('../img/arr-r.png')
	& .slick-list
		height: 100%
	& .slick-track
		height: 100%
	& .slick-dots
		bottom: 0
	&__paginator
		display: none

/* TV слайдер */
.slider_tv
	position: relative
	margin: 0 auto
	height: 310px
	width: 450px
	&__cover
		position: absolute
		z-index: 10
	&__link
		display: block
		position: absolute
		border: none !important
		width: 296px
		height: 240px
		z-index: 10
	&__container
		position: absolute
		width: 296px
		height: 240px
		top: 25px
		left: 35px
		overflow: hidden
		background: #111111 url('../img/tv_noise.gif') center repeat
		&:hover
			background-image: url('../img/tv_bg.jpg')
	&__list
		visibility: hidden
		z-index: 0
		&.active
			visibility: visible
