h1, h2, h3, h4, h5, h6
	padding: 0

.title
	font-weight: normal
	line-height: 1.2
	margin: 0
	padding: 0
	&_main
		font-family: $ff2
		font-size: 3em
	&_h2
		font-family: $ff2
		font-size: 1.875em
	&_h3
		font-size: 30px
		font-family: $ff2
