doctype html
html(ng-app="btiApp")
  include inc/head
  body(ng-controller="MainCtrl as main")
    .layout

      
      .nav-mobile(ng-class="{open: showMenu}")
        .nav__inner
          .nav__header.clr
            a(href="/").logo Краевое БТИ
            button.burger(type="button" ng-class="{burger_active: showMenu}" ng-click="burger()")
              span.burger__line
          nav.nav
            ul.nav__list
              li.nav__item
                a.nav__link
                  span Услуги
              li.nav__item
                a.nav__link
                  span Новости
              li.nav__item
                a.nav__link
                  span Вопрос-ответ
              li.nav__item
                a.nav__link
                  span О компании
              li.nav__item
                a.nav__link
                  span Контакты
              li.nav__item
                a.nav__link
                  span Онлайн-заявка
          .nav__bottom
            .clr
              .item.item-phone
                a(href="tel:88612265034")
                  span 8 861 226-50-34
              .item
                select.select-xs
                  option(value="1") Краснодар
                  option(value="2") Армавир
                  option(value="3") Сочи
            .nav__login
              a(href="#")
                span Вход для сотрудников
    
      include inc/header_main
      
      .section.section_slider(style="background-image: url('img/slide.png')" ng-controller="SliderCtrl" ng-show="showSlider")
        .container
          .b-slider
            .b-slider__content
              .b-slider__item(ng-class="{_active: currentSlide == slide.id}" ng-repeat="slide in slides")
                .title(ng-bind="slide.title")
                .content
                  div(ng-bind="slide.content")
                  a.link(href="#/application" ng-click="changePage('/application')")
                    span Оставить заявку
                  a.link.link_more(href="#/services/detail" ng-click="changePage('/services/detail')")
                    span Подробнее
            .b-slider__switcher
              .switcher.switcher_slider.js-switcher_slider
                a.switcher__ctrl(ng-click="setSlide($event, 1)" ng-class="{_active: currentSlide == 1}") 
                  span Кадастровые <br>работы
                a.switcher__ctrl(ng-click="setSlide($event, 2)" ng-class="{_active: currentSlide == 2}")
                  span Геодезия и картография
                a.switcher__ctrl(ng-click="setSlide($event, 3)" ng-class="{_active: currentSlide == 3}")
                  span Техническая инвентаризация
      
      main.main
      
        ng-view

    include inc/footer

    include inc/modal
