doctype html
html(ng-app="btiApp")
  include inc/head
  body
    .layout
    
      include inc/header_main
      
      .section.section_slider(style="background-image: url('img/slide.png')")
        .container
          .b-slider
            .b-slider__content
              .b-slider__item._active
                .title Техническая <br>инвентаризация
                .content Инвентаризация объектов капитального строительства, <br>в том числе незавершенных строительством объектов, <br>технический учет и изготовление справок
                a.link
                  span Оставить заявку
              .b-slider__item
              .b-slider__item
            .b-slider__switcher
              .switcher.switcher_slider.js-switcher_slider
                a.switcher__ctrl 
                  span Кадастровые <br>работы
                a.switcher__ctrl
                  span Геодезия и картография
                a.switcher__ctrl._active
                  span Техническая инвентаризация
      
      main.main
      
        section.section.section_services(ng-controller="ServiceCtrl")
          .container
            .section__title.clr
              .title.title_h2 Дополнительные услуги
              .switcher
                a.switcher__link(ng-click="changeServiceType($event,1)" ng-class="{_active: serviceType < 2}") По направлениям
                a.switcher__link(ng-click="changeServiceType($event,2)" ng-class="{_active: serviceType > 1}") По жизненным ситуациям
            .switcher__item.services.services_life._active
              .row
               .col.col-xs-12.col-sm-6.col-md-4(ng-repeat="category in serviceCategory | filter:serviceType")
                 .services__item
                   a.services__link(href="services_detail.html")
                     .services__item-name(ng-bind="category.name")
          
        section.section.section_map
          .map-wrapper
            #map.map
          .container
            .row
              .col-sm-6.col-md-6.col-md-offset-6
                .content
                  .number 
                    .number__value 2315
                    .number__label сотрудников
                  .number.number_big 
                    .number__value 25
                    .number__label лет опыта
                    .number__content <b>Крайтехинвентаризация — Краевое БТИ</b> <br>была основана и работает без перерывов с 1991 года.
                  .number 
                    .number__value 51
                    .number__label филиал
          
        section.section.section_news(ng-controller="NewsCtrl")
          .container
            .section__title
              .title.title_h2 Новости
              .arrows.arrow_news
            .section__content  
              .news.news_main
                .news__list.row
                  .news__item.col-md-4(ng-repeat="new in newsList")
                    a.news__link(href="news_detail.html")
                      .date(ng-bind="new.date")
                      .title(ng-bind="new.title")
                .news__arhive
                  a(href="#")
                    span Архив новостей
          
            
      include inc/footer

    include inc/modal
