doctype html
html(ng-app="btiApp")
  include inc/head
  body
    .layout
    
      include inc/header
      
      main.main

        section.section.section_services(ng-controller="ServiceCtrl")
          .container
            .section__title.clr
              .title.title_main(ng-bind="title")
              .switcher
                a.switcher__link._active По направлениям
                a.switcher__link По жизненным ситуациям
                
            .switcher__item.services
              .row
                .col.col-xs-12.col-sm-6.col-md-4
                  .services__item
                    a.services__link(href="#")
                      .services__item-svg
                        svg( fill="#004358" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 52 64" xml:space="preserve")
                          path(d="M26,54.4l-0.7-0.7C24.5,52.9,6,34.2,6,20C6,9,15,0,26,0s20,9,20,20c0,14.2-18.5,32.9-19.3,33.7L26,54.4z M26,2C16.1,2,8,10.1,8,20c0,11.9,14.6,28,18,31.6C29.4,48,44,31.9,44,20C44,10.1,35.9,2,26,2")
                          path(d="M26,64C11.2,64,0,59.7,0,54c0-3.9,5.2-7.2,13.8-8.9l0.4,2C6.9,48.5,2,51.3,2,54c0,3.8,9.9,8,24,8s24-4.2,24-8c0-2.9-5.3-5.7-13.2-7.1l0.3-2C46.5,46.6,52,50,52,54C52,59.7,40.8,64,26,64")
                          path(d="M26,58c-4.5,0-9-1.4-9-4c0-0.8,0.5-2,2.6-2.9l0.8,1.8c-1,0.4-1.4,0.9-1.4,1.1c0,0.6,2.5,2,7,2s7-1.4,7-2c0-0.2-0.4-0.6-1.4-1.1l0.8-1.8C34.5,52,35,53.2,35,54C35,56.6,30.5,58,26,58")
                          path(d="M26,34c-7.7,0-14-6.3-14-14S18.3,6,26,6s14,6.3,14,14S33.7,34,26,34 M26,8c-6.6,0-12,5.4-12,12s5.4,12,12,12s12-5.4,12-12S32.6,8,26,8")
                          path(d="M26,25c-2.8,0-5-2.2-5-5s2.2-5,5-5s5,2.2,5,5S28.8,25,26,25 M26,17c-1.7,0-3,1.3-3,3c0,1.7,1.3,3,3,3c1.7,0,3-1.3,3-3C29,18.3,27.7,17,26,17")
                      .services__item-name Кадастровые работы
                .col.col-xs-12.col-sm-6.col-md-4
                  .services__item
                    a.services__link(href="#")
                     .services__item-svg
                      img(src="img/svg/geo.svg")
                     .services__item-name Геодезия и картография
                .col.col-xs-12.col-sm-6.col-md-4
                  .services__item
                    a.services__link(href="#")
                     .services__item-svg
                      img(src="img/svg/inventar.svg")
                     .services__item-name Техническая инвентаризация
                .col.col-xs-12.col-sm-6.col-md-4
                  .services__item
                    a.services__link(href="#")
                     .services__item-svg
                      img(src="img/svg/stroy.svg")
                     .services__item-name Строительно техническая экспертиза
                .col.col-xs-12.col-sm-6.col-md-4
                  .services__item
                    a.services__link(href="#")
                     .services__item-svg
                      img(src="img/svg/ocenka.svg")
                     .services__item-name Рыночная оценка
                .col.col-xs-12.col-sm-6.col-md-4
                  .services__item
                    a.services__link(href="#")
                     .services__item-svg
                      img(src="img/svg/pereplan.svg")
                     .services__item-name Оформление перепланировок
                .col.col-xs-12.col-sm-6.col-md-4
                  .services__item
                    a.services__link(href="#")
                     .services__item-svg
                      img(src="img/svg/ul.svg")
                     .services__item-name Юридические услуги
            .switcher__item.services.services_life._active
              .row
               .col.col-xs-12.col-sm-6.col-md-4(ng-repeat="service in services")
                 .services__item
                   a.services__link(href="#")
                     .services__item-name(ng-bind="service.name")


      include inc/footer

    include inc/modal
