doctype html
html(ng-app="btiApp")
  include inc/head
  body
    .layout
    
      include inc/header
      
      main.main

        section.section.section_service-detail(ng-controller="ServiceCtrl")
          .container
            .breadcrumbs
                ul.breadcrumbs__list
                    li.breadcrumbs__item
                        a.breadcrumbs__link(href="services.html")
                            span Услуги
            .section__title
              .title.title_main Техническая инвентаризация

            .service-detail.clr
              .service-detail__content
                .content
                  p Инвентаризация объектов капитального строительства, в том числе незавершенных строительством объектов, технический учет и изготовление справок:
                  ul
                      li первичная инвентаризация
                      li техническая инвентаризация изменений характеристик объекта капитального строительства
                      li изготовление технических паспортов, технических планов объектов капитального строительства
                      li справки на отчуждение объектов недвижимости (купля-продажа, мена, дарение)
                      li справки о принадлежности объектов недвижимости при вступлении в наследство
                      li учет правоустанавливающих и правоудостоверяющих документов
                      li справки о наличии (отсутствии) зарегистрированного права на недвижимое имущество
                      li справки об использовании/неиспользовании права на бесплатную приватизацию жилья
                      li справки о принадлежности объектов недвижимости собственнику, предоставление информации по запросам управления РОСРЕЕСТР, нотариусов, судов и т.д.
                      li исторические справки на квартиру, жилые дома и земельные участки
                      li учет правоудостоверяющих документов в связи с изменением фамилии собственника, перехода права собственности
                .documents
                    .title Необходимые документы
                    ul.documents__list
                      li.documents__item
                        a(href="#")
                          span Свидетельство о внесении в единый государственный реестр юридических лиц
              aside.service-detail__sidebar
                .sidebar
                  .sidebar__item
                    label.label срок оказания услуги
                    span 2-3 месяца
                  .sidebar__item
                    label.label стоимость услуги
                    span 1500-2500 руб.
                  .sidebar__item
                    label.label начальник отдела кадастра и геодезии
                    span Некрасов Максим Иванович
                  .sidebar__item
                    label.label консультации по услуге
                    a(href="+74957801785")
                      span +7 495 780-17-85
                  .sidebar__item
                    button.btn(type="button")
                        span Получить услугу

      include inc/footer

    include inc/modal
